{% extends "layouts/dashboard.layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div id="chart" class="chart" name="chart"></div>
{% endblock %}

{% block js %}


const makeChart= ()=>{
/*
Paste the code below .. dont remove the above lines
*/

var trace1 = {
    y: [5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
    mode: 'markers',
    marker: {
      size: 40,
      color: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
    }
  };
  
  var data = [trace1];
  
  var layout = {
    title: 'Scatter Plot with a Color Dimension'
  };
  
  Plotly.newPlot('chart', data, layout);
  
}

/*
in the above lines you can see, Plotly.newPlot('chart', data); .. in the examples on the net 
it maybe myDiv .. change myDiv to chart .. why ? see the code on the line 6 
this => <div id="chart" class="chart" name="chart"></div> see, the id= chart thats why

Dont remove the code below
*/
window.onload= ()=> makeChart()
{% endblock %}