{% extends "layouts/dashboard.layout.html" %}

{% block title %} KPI Charts {% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="">
    <h4 class="text-center">KPI Charts</h4>
  </div>
  <div class="row mt-4 mx-auto">

    <div class="col-md-4">
      <div class="shadow-sm rounded-3">
        <div class="bg-light p-2 py-4">
          <div id="current-ratio-chart"></div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="shadow-sm rounded-3">
        <div class="bg-light p-2 py-4">
          <div id="acid-test-chart"></div>
        </div>
      </div>
    </div>

    
  </div>
  
  <div class="row mt-3 mx-auto">
    <div class="col-md-3">
      <div class="shadow-sm rounded-3">
        <div class="bg-light p-2 py-4">
          <canvas id="suppliers-chart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="shadow-sm rounded-3">
        <div class="bg-light p-2 py-4">
          <canvas id="contracted-chart"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="shadow-sm rounded-3">
        <div class="bg-light p-2 py-4">
          <canvas id="customers-chart"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block js %}

const makeChart= ()=>{
  var current_ratio_data = [
	{
		domain: { x: [0, 1], y: [0, 1] },
		value: {{ Current_ratio }},
    title: { text: "Current Ratio" },
		type: "indicator",
		mode: "gauge+number"
	}
];
  var current_ratio_layout = { width: 300, height: 200, margin: { t: 25, r: 25, l: 25, b: 25 }, paper_bgcolor: "#f8f9fa", };
  Plotly.newPlot('current-ratio-chart', current_ratio_data, current_ratio_layout);

  var acid_test_data = [
    {
      x: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
      y: [20, 14, 23, 33, 17, 11, 13],
      type: 'bar',
      marker:{
        color: ['red', 'green', 'green', 'red', 'red', 'green', 'green']
      },
    }
  ];

  let acid_test_layout= { width: 650, height: 200, margin: { t: 25, r: 25, l: 25, b: 25 }, paper_bgcolor: "#f8f9fa", };
  Plotly.newPlot('acid-test-chart', acid_test_data, acid_test_layout);


  // Chart.js Supplier Chart
  
  const supplier_ctx = document.getElementById('suppliers-chart');
  const supplierChart = new Chart(supplier_ctx, {
      type: 'doughnut',
      data: {
          labels: ['Suppliers'],
          datasets: [{
              label: 'Suppliers',
              data: [{{ Suppliers }}, 100-{{ Suppliers }}],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgb(54, 162, 235)',
              ],
              borderWidth: 1
          }]
      }
  });


  // Chart.js Contracted Chart

  const contracted_ctx = document.getElementById('contracted-chart');
  const contractedChart = new Chart(contracted_ctx, {
      type: 'doughnut',
      data: {
          labels: ['Contracted'],
          datasets: [{
              label: 'Contracted',
              data: [{{ Contracted }}, 100-{{ Contracted }}],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgb(54, 162, 235)',
              ],
              borderWidth: 1
          }]
      }
  });


  // Chart.js Customers Chart

  const customers_ctx = document.getElementById('customers-chart');
  const customersChart = new Chart(customers_ctx, {
      type: 'doughnut',
      data: {
          labels: ['Customers'],
          datasets: [{
              label: 'Customers',
              data: [{{ Customers }}, 100-{{ Customers }}],
              backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgb(54, 162, 235)',
              ],
              borderWidth: 1
          }]
      }
  });

}

window.onload= ()=> makeChart()
{% endblock %}