{% extends "layouts/dashboard.layout.html" %}

{% block title %} KPI CHARTS {% endblock %}

{% block content %}
<div class="container-fluid mt-4">
  <div class="">
    <h4 class="text-center">KPI Charts</h4>
  </div>
  <div class="row mt-4 mx-auto">

    <div class="col-md-4">
      <div id="current-ratio-chart"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}

const makeChart= ()=>{
  var data = [
	{
		domain: { x: [0, 1], y: [0, 1] },
		value: {{ Current_ratio }},
    title: { text: "Current Ratio" },
		type: "indicator",
		mode: "gauge+number"
	}
];
var layout = { width: 400, height: 450, margin: { t: 0, b: 0 } };
Plotly.newPlot('current-ratio-chart', data, layout);
}

window.onload= ()=> makeChart()
{% endblock %}